*, :host {
  --primary-color: #039be5;
  --secondary-color: #ffa100;
  --gray: #777;
  --font-color: #fff;
  --border-radius: 4px;
  --box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --standard-padding: 16px;
}
